<table class="w3-table w3-striped">
    <thead class="w3-dark-grey">
        <tr>
            <th>Title</th>
            <th (click)="taskService.sortTasks()">Deadline</th>
            <th class="w3-right-align">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let task of taskStoreService.tasks">
            <tr task-list-item [task]="task" class="w3-tooltip"
                *ngIf="task.title.toLowerCase().includes(taskStoreService.taskFilterText.toLowerCase())">
            </tr>
        </ng-container>
    </tbody>
</table>